{% extends 'registration/login.html' %}

{% block title %}Restablecimiento de Contraseña Enviado{% endblock %}

{% block contenido %}
<div class="d-flex justify-content-center align-items-center" >
    <div class="card shadow-sm" style="width: 100%; max-width: 500px;">
        <div class="card-body text-center">
            <h2 class="card-title mb-3">Enlace de Restablecimiento Enviado</h2>
            <p>Se ha enviado un enlace de restablecimiento de contraseña a tu correo electrónico. Por favor, revisa tu bandeja de entrada y sigue las instrucciones para restablecer tu contraseña.</p>
            
            <div class="mt-4">
                <a href="{% url 'login' %}" class="btn btn-primary">Volver a iniciar sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
