{% extends 'registration/login.html' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block contenido %}
<div class="d-flex justify-content-center align-items-center" >
    <div class="card shadow-sm" style="width: 100%; max-width: 500px;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Recuperar Contraseña</h2>
            <p class="text-center mb-4">Ingresa tu correo electrónico para recibir el enlace de restablecimiento.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Enviar enlace de restablecimiento</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
